@model List<Portfolio.Models.Project>

@{
    ViewData["Title"] = "Project List";
}

<div class="text-center">
    <h1>Welcome to my Portfolio</h1>
    <p>Hi, I'm Alirezae. I'm a passionate developer building aswesome projects.</p>
</div>

<h2 class="mt-5">My Projects</h2>
<div class="row">
    @foreach (var project in Model)
    {
        <div class="col-md-6 mb-4">
            <div class="card">
                <img src="@project.ImageUrl" class="card-img-top" alt="@project.Title" style="height: 200px; object-fit:cover" />
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-title">@project.Description</p>
                </div>
            </div>
        </div>
    }
</div>